/* color schemes */
.orangeTricolor { background-color: #dfa; }
.orangeTricolor #wrapper { background-color: white; }
.orangeTricolor #header { background-color: #ff8b00; }
.orangeTricolor h1, .orangeTricolor h2 { color: white; }
.orangeTricolor h2 a { color: white; }
.orangeTricolor h3 { color: #482; }
.orangeTricolor a { color: #482; }
.orangeTricolor #controls li { background-color: black; }
.orangeTricolor #controls li a { color: white; }
.orangeTricolor #simplemodal-overlay { background-color: #eff; }
.orangeTricolor #simplemodal-container { background-color: #dfa; }
.orangeTricolor #simplemodal-container { border: 3px solid #482; }
.orangeTricolor #footer { background-color: #402; color: white; }

.redBicolor { background-color: #ccf; }
.redBicolor #wrapper { background-color: white; }
.redBicolor #header { background-color: #c00; }
.redBicolor h1, .redBicolor h2 { color: white; }
.redBicolor h2 a { color: white; }
.redBicolor h3 { color: #900; }
.redBicolor a { color: #900; }
.redBicolor #controls li { background-color: black; }
.redBicolor #controls li a { color: white; }
.redBicolor #simplemodal-overlay { background-color: #eff; }
.redBicolor #simplemodal-container { background-color: #ddf; }
.redBicolor #simplemodal-container { border: 3px solid black; }
.redBicolor #footer { background-color: black; color: white; }

.greyMonochrome { background-color: #ddd; }
.greyMonochrome #wrapper { background-color: white; }
.greyMonochrome #header { background-color: #655; }
.greyMonochrome h1, .greyMonochrome h2 { color: white; }
.greyMonochrome h2 a { color: white; }
.greyMonochrome h3 { color: #333; }
.greyMonochrome a { color: #333; }
.greyMonochrome #controls li { background-color: black; }
.greyMonochrome #controls li a { color: white; }
.greyMonochrome #simplemodal-overlay { background-color: #111; }
.greyMonochrome #simplemodal-container { background-color: #ddd; }
.greyMonochrome #simplemodal-container { border: 3px solid black; }
.greyMonochrome #footer { background-color: black; color: white; }

.rubyRed { background-color: #fdd; }
.rubyRed #wrapper { background-color: white; }
.rubyRed #header { background-color: #f00; }
.rubyRed h1, .rubyRed h2 { color: white; }
.rubyRed h2 a { color: white; }
.rubyRed h3 { color: #933; }
.rubyRed a { color: #933; }
.rubyRed #controls li { background-color: black; }
.rubyRed #controls li a { color: white; }
.rubyRed #simplemodal-overlay { background-color: #544; }
.rubyRed #simplemodal-container { background-color: #fee; }
.rubyRed #simplemodal-container { border: 3px solid #e00; }
.rubyRed #footer { background-color: #f99; color: black; }

/* resets */
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}
h1, h2, h3, ul, p, li {
  margin: 0;
  padding: 0;
}
em {
  font-style: normal;
}
td {
  vertical-align: top;
}

/* grid */
#wrapper {
  margin: 0 auto;
  width: 875px;
}
#header {
  height: 137px;
}
#controls {
  float: right;
  margin: 0;
  text-align: right;
}
#photo {
  height: 257px;
  width: 100%;
}
#content {
  margin-top: 2em;
  padding: 20px 50px;
}
#ingredientsList {
  float: left;
  width: 309px;
}
#instructionsList {
  float: right;
  width: 439px;
}
#footer {
  font-family: Arial, sans-serif;
  height: 52px;
  padding-top: 27px;
  text-align: center;
}

/* individual sections */
h1 {
  font-family: Harrington, Palatino, serif;
  font-size: 47px;
  position: relative;
  top: 59px;
  left: 23px;
}
h2 {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  font-size: 28px;
  position: relative;
  top: -29px;
  float: right;
  margin-right: 32px;
}
h2 em {
  font-weight: bold;
}
h2 a {
  text-decoration: none;
}
h2 a:hover {
  text-decoration: underline;
}
h3 {
  font-family: "Arial Bold", "Avant Garde", Arial, sans-serif;
  font-size: 22px;
}

#controls li {
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  list-style: none;
  float: left;
  margin: 0;
  margin-left: 4px;
}
#controls li a {
  display: inline-block;
  font-family: "Arial Bold", "Avant Garde", Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 15px;
  text-decoration: none;
}
#controls li a:hover {
  text-decoration: underline;
}
#simplemodal-container {
  -moz-border-radius: 6px;
  font-family: Arial, sans-serif;
  padding: 9px;
  width: 500px;
  height: 440px;
}

p, li, .msg {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.65em;
}
ul {
  margin: 10px 0 25px;
}
li {
  list-style-type: circle;
  margin-left: 1.5em;
}
p {
  margin: 20px 0;
}

label {
  font-weight: bold;
}

.msg {
  -moz-border-radius: 3px;
  border: 1px solid black;
  margin: 1em 0;
  text-align: center;
}

td h3 {
  margin-bottom: 0.5em;
  text-align: center;
}
td ul {
  margin: 0 auto 4em auto;
  width:55%;
}

